---
const response = await fetch("http://127.0.0.1:4000/posts/");
const data = await response.json();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      {
        data.map((item) => (
          <ul>
            <li>Title:{item.title}</li>
            <li>Description:{item.description}</li>
            <li>PostBody:{item.PostBody}</li>
          </ul>
        ))
      },

      {
        data.map((post) => (
          <form action="">
            <input type="text" name="title" value={post.title} />
            <input type="text" name="description" value={post.description} />
            <input type="text" name="PostBody" value={post.PostBody} />
            <input type="submit" placeholder="output" />
          </form>
        ))
      }
    </section>
  </body>
</html>
